# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.coverage

# Virtual environments
.venv/
venv/
env/

# FastAPI/Build artifacts
*.log

# Node / Frontend
node_modules/
dist/
.vite/

# Bun
bun.lockb

# IDE
.idea/
.vscode/


